In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt
import matplotlib.pyplot as plt
plt.style.use("ggplot")
from scipy.stats import f_oneway, ttest_ind, chi2_contingency

In [2]:
sales_data = pd.read_csv("/Users/innocentnnamdialinta/Documents/newcsv/combined.csv")

In [3]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [4]:
sales_data.tail()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
186856,259353,AAA Batteries (4-pack),3,2.99,09/17/19 20:56,"840 Highland St, Los Angeles, CA 90001"
186857,259354,iPhone,1,700,09/01/19 16:00,"216 Dogwood St, San Francisco, CA 94016"
186858,259355,iPhone,1,700,09/23/19 07:39,"220 12th St, San Francisco, CA 94016"
186859,259356,34in Ultrawide Monitor,1,379.99,09/19/19 17:30,"511 Forest St, San Francisco, CA 94016"
186860,259357,USB-C Charging Cable,1,11.95,09/30/19 00:18,"250 Meadow St, San Francisco, CA 94016"

In [5]:
sales_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [6]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186861 entries, 0 to 186860
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186316 non-null  object
 1   Product           186316 non-null  object
 2   Quantity Ordered  186316 non-null  object
 3   Price Each        186316 non-null  object
 4   Order Date        186316 non-null  object
 5   Purchase Address  186316 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

In [7]:
sales_data.isnull().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [8]:
sales_data.shape

(186861, 6)

In [9]:
sales_data.dropna(inplace = True)

In [10]:
sales_data.isnull().sum()

Order ID            0
Product             0
Quantity Ordered    0
Price Each          0
Order Date          0
Purchase Address    0
dtype: int64

In [11]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [12]:
sales_data.columns

Index(['Order ID', 'Product', 'Quantity Ordered', 'Price Each', 'Order Date',
       'Purchase Address'],
      dtype='object')

In [13]:
sales_data["Order Date"] = pd.to_datetime(sales_data["Order Date"], errors = "coerce")

In [14]:
sales_data["Order Date"]

0        2019-04-19 08:46:00
2        2019-04-07 22:30:00
3        2019-04-12 14:38:00
4        2019-04-12 14:38:00
5        2019-04-30 09:27:00
                 ...
186856   2019-09-17 20:56:00
186857   2019-09-01 16:00:00
186858   2019-09-23 07:39:00
186859   2019-09-19 17:30:00
186860   2019-09-30 00:18:00
Name: Order Date, Length: 186316, dtype: datetime64[ns]

In [15]:
idx = sales_data[sales_data["Order Date"].isnull()].index

In [16]:
idx

Int64Index([   519,   1149,   1155,   2878,   2893,   3036,   3209,   3618,
              4138,   4645,
            ...
            183819, 184500, 184677, 184790, 185129, 185175, 185562, 186574,
            186643, 186749],
           dtype='int64', length=366)

In [17]:
sales_data.isnull().sum()

Order ID              0
Product               0
Quantity Ordered      0
Price Each            0
Order Date          366
Purchase Address      0
dtype: int64

In [18]:
sales_data["Order Date"].isnull().sum()

366

In [19]:
sales_data.dropna(subset = ["Order Date"], how = "any", inplace = True)

In [20]:
sales_data["Order Date"]

0        2019-04-19 08:46:00
2        2019-04-07 22:30:00
3        2019-04-12 14:38:00
4        2019-04-12 14:38:00
5        2019-04-30 09:27:00
                 ...
186856   2019-09-17 20:56:00
186857   2019-09-01 16:00:00
186858   2019-09-23 07:39:00
186859   2019-09-19 17:30:00
186860   2019-09-30 00:18:00
Name: Order Date, Length: 185950, dtype: datetime64[ns]

In [21]:
sales_data["Month"] = sales_data["Order Date"]

In [22]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",2019-04-19 08:46:00
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",2019-04-07 22:30:00
3,176560,Google Phone,1,600,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",2019-04-12 14:38:00
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",2019-04-30 09:27:00

In [23]:
sales_data["Month"] = sales_data["Month"].apply(lambda a : a.strftime("%b"))

In [24]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",Apr
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",Apr
3,176560,Google Phone,1,600,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",Apr

In [25]:
sales_data.dtypes

Order ID                    object
Product                     object
Quantity Ordered            object
Price Each                  object
Order Date          datetime64[ns]
Purchase Address            object
Month                       object
dtype: object

In [26]:
sales_data["Quantity Ordered"] = pd.to_numeric(sales_data["Quantity Ordered"])

In [27]:
sales_data["Price Each"] = pd.to_numeric(sales_data["Price Each"])

In [28]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",Apr
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",Apr
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",Apr

In [29]:
sales_data["Total Sales"] = sales_data["Quantity Ordered"] * sales_data["Price Each"]

In [30]:
sales_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month,Total Sales
0,176558,USB-C Charging Cable,2,11.95,2019-04-19 08:46:00,"917 1st St, Dallas, TX 75001",Apr,23.90
2,176559,Bose SoundSport Headphones,1,99.99,2019-04-07 22:30:00,"682 Chestnut St, Boston, MA 02215",Apr,99.99
3,176560,Google Phone,1,600.00,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,600.00
4,176560,Wired Headphones,1,11.99,2019-04-12 14:38:00,"669 Spruce St, Los Angeles, CA 90001",Apr,11.99
5,176561,Wired Headphones,1,11.99,2019-04-30 09:27:00,"333 8th St, Los Angeles, CA 90001",Apr,11.99

#### split to get the state from the purchase address

In [31]:
def city(address):
    return address.split(",")[1]

def state(address):
    return address.split(",")[2].split(" ")[1]
sales_data["city"] = sales_data["Purchase Address"].apply(lambda x: city(x) + " " + get_state(x))

NameError: name 'get_state' is not defined

In [ ]:
sales_data.head()

In [ ]:
sales_data.columns

In [ ]:
needed_col = sales_data.columns.to_list()

In [ ]:
needed_col

In [ ]:
needed_col = sales_data.columns.to_list()[-2]
needed_col

In [ ]:
sales_by_state = pd.DataFrame(sales_data.groupby(by = "city")[needed_col].sum())
sales_by_state

In [ ]:
sales_by_state.reset_index(inplace = True)

In [ ]:
sales_by_state

In [ ]:
x_axis1 = sales_by_state["city"]

In [ ]:
y_axis1 = sales_by_state["Total Sales"]

In [ ]:
plt.rcParams["figure.figsize"] = [15,13]

plt.bar(sales_by_state["city"], sales_by_state["Total Sales"], linewidth = 2, alpha = 0.75, color = "red")

plt.title("state operational performance")
plt.xlabel("city")
plt.ylabel("Total Sales")

plt.show()

#### yearly peak period

In [ ]:
sales_data.head()

In [ ]:
sales_by_month = pd.DataFrame(sales_data.groupby(by = "Month")[needed_col].sum())
sales_by_month

#### Arrange the date accordingly

In [ ]:
sales_by_month.reset_index(inplace = True)

In [ ]:
sales_by_month

In [ ]:
sales_by_month["Month"] = sales_by_month["Month"].apply(lambda a : dt.strptime(a, "%b"))

In [ ]:
sales_by_month

In [ ]:
sales_by_month.sort_values(by = "Month", inplace = True)

In [ ]:
sales_by_month

In [ ]:
sales_by_month["Month"] = sales_by_month["Month"].apply(lambda a : a.strftime("%b"))

In [ ]:
sales_by_month

In [ ]:
x_axis = sales_by_month["Month"]

In [ ]:
y_axis = sales_by_month["Total Sales"]

In [ ]:
plt.rcParams["figure.figsize"] = [10,9]

plt.bar(x_axis, y_axis, linewidth = 2, alpha = 0.75, color = "purple")

plt.title("monthly sales trend")
plt.xlabel("month")
plt.ylabel("sales")

plt.show()

In [ ]:
sales_data.head()

In [ ]:
sales_data.describe()

In [ ]:
sales_data["Product"].value_counts()

In [ ]:
product_per_city = pd.crosstab(sales_data["city"], sales_data["Product"])

In [ ]:
product_per_city

In [ ]:
product_per_city.plot(kind ="bar")

In [ ]:
sales_data["city"].value_counts()

In [ ]:
states_grouping = sales_data.groupby(["city"])

In [ ]:
states_grouping.get_group(" Portland ME")

#### product order from different customers in different states

In [ ]:
filtering_1 = sales_data["city"] == " New York City NY"

In [ ]:
sales_data.loc[filtering_1]["Product"].value_counts()

### the order id (customers) that have same order id and order from new york, san frisco and los angeles

In [ ]:
filtering_1 = sales_data["city"] == " New York City NY"

In [ ]:
sales_data.loc[filtering_1]["Order ID"].value_counts()

### Probability

In [ ]:
total_no_customers = len(sales_data)

In [ ]:
total_no_customers

In [ ]:
probability_San_Francisco = 44732/total_no_customers

In [ ]:
probability_San_Francisco

In [ ]:
probability_Portland_OR = 10010/total_no_customers

In [ ]:
probability_Portland_OR

#### conditional probability conditional probability. showing the probability that a product iphone sold in the region of new york city

In [ ]:
iphone_newyork = len(sales_data[(sales_data["Product"] == "iPhone") & (sales_data["city"] == " New York City NY")]) / total_no_customers
iphone_newyork

In [ ]:
state_Newyork = len(sales_data[sales_data["city"] == " New York City NY"]) / total_no_customers
state_Newyork

In [ ]:
desired_newyork = iphone_newyork / state_Newyork
desired_newyork

### conditional probability that this product iphone is sold in San francisco

In [ ]:
iphone_sanfrisco = len(sales_data[(sales_data["Product"] == "iPhone") & (sales_data["city"] == " San Francisco CA")]) / total_no_customers
iphone_sanfrisco

In [ ]:
state_sanfrisco = len(sales_data[sales_data["city"] == " San Francisco CA"]) / total_no_customers
state_sanfrisco

In [ ]:
desired_sanfrisco = iphone_sanfrisco / state_sanfrisco
desired_sanfrisco

### calc the probabilty that a customer will spend a particular amount

In [ ]:
sales_data.head()

### probability a customer spends 300

In [ ]:
Zscore_300 = (300 - sales_data["Price Each"].mean()) / (sales_data["Price Each"].std())
Zscore_300

### Probability that a customer will spend 600 and 1000

In [ ]:
zscore_least_600 = (600 - sales_data["Price Each"].mean()) / (sales_data["Price Each"].std())
zscore_least_600

In [ ]:
Zscore_1000 = (1000 - sales_data["Price Each"].mean()) / (sales_data["Price Each"].std())
Zscore_1000

In [ ]:
the_Zrange_600 = 0.89435

In [ ]:
the_Zrange_1000 = 0.99286

In [ ]:
the_range_both = the_Zrange_1000 - the_Zrange_600
the_range_both

In [ ]:
sales_data.head()

#### calc to know the correlation between two items if any has an adverse effect on the other

In [ ]:
def my_correlation(dfname, feature_one, feature_two):
    temp_df = pd.DataFrame()
    temp_df["top"] = (dfname[feature_one] - dfname[feature_one].mean()) * (dfname[feature_two] - dfname[feature_two].mean())
    temp_df["bottom_left"] = (dfname[feature_one] - dfname[feature_one].mean()) ** 2
    temp_df["bottom_right"] = (dfname[feature_two] - dfname[feature_two].mean()) ** 2
    bottom_left_sum = temp_df["bottom_left"].sum()
    bottom_right_sum = temp_df["bottom_right"].sum()
    bottom_all = (bottom_left_sum * bottom_right_sum) ** 0.5
    top_all = temp_df["top"].sum()


    output = top_all / bottom_all
    return output

In [ ]:
my_correlation(sales_data, "Price Each", "Quantity Ordered")

#### checking the anova Testing the hypothesis for the categorical feature of State, if it has a relationship with quantity ordered

In [ ]:
state_one = sales_data[sales_data["city"] == " Atlanta GA"]

In [ ]:
state_two = sales_data[sales_data["city"] == " Seattle WA"]

In [ ]:
state_three = sales_data[sales_data["city"] == " Los Angeles CA"]

In [ ]:
state_four = sales_data[sales_data["city"] == " Boston MA"]

In [ ]:
state_five = sales_data[sales_data["city"] == " San Francisco CA"]

### check the phone result with formular

In [ ]:
f_oneway(state_one["Quantity Ordered"], state_two["Quantity Ordered"], state_three["Quantity Ordered"], state_four["Quantity Ordered"], state_five["Quantity Ordered"])

### checking fot the ttest

In [ ]:
highest_state = sales_data[sales_data["city"] == " San Francisco CA"]

In [ ]:
lowest_state = sales_data[sales_data["city"] == " Portland ME"]

In [ ]:
ttest_ind(highest_state["Quantity Ordered"], lowest_state["Quantity Ordered"])

### chi square when analysing two categorical feature

In [ ]:
pd.crosstab(sales_data["Product"], sales_data["city"])

In [ ]:
chi2_contingency(pd.crosstab(sales_data["Product"], sales_data["city"]))